.background{
     background: linear-gradient(135deg, #4c1130, #f1edec) !important;
}

.btn-css{
background-color: #4c1130 !important;
color: #f1edec !important;
border: none !important;
border-radius: 8px !important;
padding: 10px 20px !important;
}
.aside-background{
    background-color: #f1edec !important;
}